<div class="jumbotron">
  <div class="container header">
    <h1>3 Simple Steps!</h1>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-md-4">
      <h2 class="sub-header">1. Paste Audit Here:</h2>

      <textarea class="form-control" rows="5" ng-model="audit"></textarea>
    </div>

    <div class="col-md-5">
      <h2 class="sub-header">2. Check Boxes:</h2>
      <p class="sub-header">Check the boxes of courses you could help another student in. If you are currently enrolled in the course, check that box instead.</p>
      <table class="table">
        <thead>
          <tr>
            <th>Class Name</th>
            <th>Able To Help</th>
            <th>Currently Taking</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="className in classNames">
            <td>{{className}}</td>
            <td><input type="checkbox" value="helping{{className}}"></td>
            <td><input type="checkbox" value="taking{{className}}"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-3">
      <h2 class="sub-header">3. Click Here:</h2>

      <button type="button" class="btn btn-primary">Click Here!</button>
    </div>

  </div>
</div>
